<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @petrol_station.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @petrol_station.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @petrol_station.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @petrol_station.postal_code %>
</p>

<p>
  <strong>Pb95 price:</strong>
  <%= @petrol_station.pb95_price %>
</p>

<p>
  <strong>Pb98 price:</strong>
  <%= @petrol_station.pb98_price %>
</p>

<p>
  <strong>On price:</strong>
  <%= @petrol_station.on_price %>
</p>

<p>
  <strong>Gas price:</strong>
  <%= @petrol_station.gas_price %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @petrol_station.likes %>
</p>

<p>
  <strong>Unlikes:</strong>
  <%= @petrol_station.unlikes %>
</p>

<%= link_to 'Edit', edit_petrol_station_path(@petrol_station) %> |
<%= link_to 'Back', petrol_stations_path %>
